.form {
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputword {
  width: 476px;
  height: 54px;
  background: rgba(0, 0, 0, 0.25);
  border: 3px solid #0c5900;
  border-radius: 5px;
  font-size: 32px;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redText {
  color: red;
}

.greenText {
  color: lightgreen;
}

.inlineContainer {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .inputword {
    width: 300px;
  }
}
